@keyframes correct-answer {
    0% {
        background-color: $mainColor;
    }

    100% {
        background-color: $subColor4;
    }
}

@keyframes incorrect-answer {
    0% {
        background-color: $mainColor;
    }

    100% {
        background-color: $subColor2;
    }
}

@keyframes color-change-3x {
    0% {
        outline-color: $subColor2;
    }

    33% {
        outline-color: $subColor4;
    }

    66% {
        outline-color: $subColor1;
    }

    100% {
        outline-color: $subColor2;
    }
}